.color_body{
    background: #2980B9;  
background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;
    
}
.icono{
    width:200px; 
    height:70px;
}
.bodyca{
    width:1900px;
    height:1200px;
}
.img{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin:25px;
        
                
}
.imgcar{
    margin-right :70px;
    margin-bottom :70px;
    margin-left: 80px;
    margin-top: 70px;
    width:1750px;
    height:650px;
    }

.p{
    text-align: center;
    font-weight: bold;
    background-color: rgb(41, 155, 149);
    padding: 10px;
}


.margen{
    margin-left: 10px;
}

.letra{
    
    font-style: italic;

}

.galeria{
    width:1000px;
    height:600px;

}
.carousel-height {
    height: 400px; 
  }

.carousel-item img {
    object-fit: cover;
    height: 400px; 
  }

 .main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .card-img-top {
    transition: transform 0.3s ease; 
    height: 200px;
  }
  
  .card:hover .card-img-top {
    transform: scale(1.1); 
  }